beautifulsoup4
dbt-bigquery
google-api-python-client
jax==0.4.6
jaxlib==0.4.6
matplotlib
numpy==1.26.4
openmeteo-requests
pandas
pretty_html_table
requests-cache
retry-requests
scikit-learn
scipy==1.12.0
tqdm